// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#welcome {
  margin-left:5%;
  margin-top:5%;
  postition:relative;
  background: #000;
  color:#fff;
  border:.5em solid #909088;  
  border-radius:5px;
  padding:.5em .25em 2em .25em;
  width:50%;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:1em;
  min-height:30em;
  float:left;
}

#status {
}

#getin {
  text-align:center;
  margin-top:2em;
  border-color:#909088;
  background-color:#F0F0E3;
  border-radius:1em;
  height:1.5em;
  width:20em;
}

#getin:focus{
  outline:none;
  box-shadow:0px 0px 10px #fff;
  -moz-box-shadow: 0px 0px 10px #fff;
  -webkit-box-shadow: 0px 0px 10px #fff;  
}
